body{
 background-color:rgb(13, 3, 92);
}

.container{
	padding: 10px;
}
.col-md-2 img{
	height:180px; 
	width:180px; 		 
}
.col-md-7 h2{
	color: white;
	font-family: 'Moul', cursive;
	position: relative;
	left: 10px;
	top: 30px;		
}

.col-md-7 p{
	font-size: 30px;
	color: white;
	font-family: "Georgia", Times, serif;
	position: relative;
	top: 50px;	
	text-transform: uppercase;
}

 .row {
    --bs-gutter-x: -11rem;
}
.col-md-3 img{
	height:180px; 
	width:180px; 
	position: relative;
	top: 100px;		 
}
label{
	color: white;
}

input{
	width: 10%;
}
select{
	position: relative;
	top: 20px;	
}
button{
	padding: 10px;
	position: relative;
	top: 40px;	
}