

body{
 background-color:rgb(13, 3, 92);
}

/* .container{
	padding: 20px;
} */
.col-md-2 img{
	height:180px; 
	width:180px; 		 
}
.col-md-8 h2{
	color: white;
	font-family: 'Moul', cursive;
	position: relative;
	left: 20px;
	top: 30px;		
}

.card{
	
	background-color: #f1f1f1;	
	border-radius: 5px;
	margin-top: 10px;
	box-shadow:1px 1px 2px black, 0 0 15px black, 0 0 5px darkblue;
}



