.bo{
    background-color: #0D1F5C;
    height: 600px;
}
.background{
    margin: 0 220px;
    width: 700px;
    height: 600px; 
    
    border-radius: 10px;
    position: relative; 
}
.round{
    background-color: white;
    width: 80px;
    border: 1px solid black;
    margin-top: -39px;
    height: 80px;
    /*position: absolute;*/
    
    border-radius: 50%;
    z-index: 10;
    display: table;
    margin-left: auto;
    margin-right: auto;
    }
.slidelogin{
    /*margin: 30px 150px;*/
    display: block;
    /*position: absolute;*/
    background-color: rgb(238, 255, 0);
    max-width: 400px;
    width: auto;
    height: 400px;
    opacity: .6;
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0,0,00);
    margin-left:auto;
    margin-right: auto;
}
.box-input{
    z-index: 99;
   margin: 30px auto;
   width: 80%;
   border-bottom: 1px solid black;
   padding-top: 10px;
   padding-bottom: 5px; 
}
.inpu{
    margin: -10px auto;
    width: 80%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px; 
 }
 .box-input input{
     width: 90%;
     border: none;
     outline: none;
     background: transparent;
 }
 .inpu input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
}
span{
    color: black;
    position: absolute;
    padding-left: 10px;
   margin-top: -10px;
    cursor: pointer;
}
span:hover{
    color: red;;
}